.Film {
    background-color: #181A1C;
    width: 100%;
    height: 100vh;
    color: white;
}

form {
    width: 30%;
    height: auto;
}

.InputField {
    padding: 15px;
}

input {
    border: 1px solid white;
}

button {
    margin: 10px 0 0 100px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: aliceblue;
    color: black;
}
